html, body {
    font-family: 'Open Sans', sans-serif;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.logo {
    font-size: 2em;
    text-align: center;
    margin: 10px;
    width: auto;
}

.logo h1 {
    color: white;
}

.OrdersTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}